@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Default background color */
  --foreground: #171717; /* Default text color */
}

body {
  color: var(--foreground); /* Text color */
  background: var(--background); /* Background color */
  font-family: Arial, Helvetica, sans-serif; /* Font family */
}
